/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



    /* 1. 1 Column Grid 0px - 479px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 479px) {
        
        .col {
            margin-left:2%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1, .logo {
            margin-left:0;
            width:100%;
        }
    }

    /* 2. 3 Column Grid 480px - 779px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    32.0%
    Span 2:    66.0%
    Span 3:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 480px) and (max-width: 779px) {
        
        .col {
            margin-left:2%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:32.0%;
        }
        .span_2 {
            width:66.0%;
        }
        .span_3, .logo {
            margin-left:0;
            width:100%;
        }
    }

    /* 3. 5 Column Grid 780px - 959px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    18.4%
    Span 2:    38.8%
    Span 3:    59.2%
    Span 4:    79.6%
    Span 5:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 780px) and (max-width: 959px) {
        
        .col {
            margin-left:2%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:18.4%;
        }
        .span_2 {
            width:38.8%;
        }
        .span_3 {
            width:59.2%;
        }
        .span_4 {
            width:79.6%;
        }
        .span_5, .logo {
            margin-left:0;
            width:100%;
        }
    }

    /* 4. 7 Column Grid 960px - 1259px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    12.5714285714%
    Span 2:    27.1428571429%
    Span 3:    41.7142857143%
    Span 4:    56.2857142857%
    Span 5:    70.8571428571%
    Span 6:    85.4285714286%
    Span 7:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 960px) and (max-width: 1259px) {
        
        .col {
            margin-left:2%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:12.5714285714%;
        }
        .span_2 {
            width:27.1428571429%;
        }
        .span_3 {
            width:41.7142857143%;
        }
        .span_4 {
            width:56.2857142857%;
        }
        .span_5 {
            width:70.8571428571%;
        }
        .span_6 {
            width:85.4285714286%;
        }
        .span_7, .logo {
            margin-left:0;
            width:100%;
        }
    }

    /* 5. 7 Column Grid 1260px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    12.5714285714%
    Span 2:    27.1428571429%
    Span 3:    41.7142857143%
    Span 4:    56.2857142857%
    Span 5:    70.8571428571%
    Span 6:    85.4285714286%
    Span 7:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 1260px) {
        
        .col {
            margin-left:2%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:12.5714285714%;
        }
        .span_2 {
            width:27.1428571429%;
        }
        .span_3 {
            width:41.7142857143%;
        }
        .span_4 {
            width:56.2857142857%;
        }
        .span_5 {
            width:70.8571428571%;
        }
        .span_6 {
            width:85.4285714286%;
        }
        .span_7, .logo {
            margin-left:0;
            width:100%;
        }
    }

